---
---
@import "{{ site.theme }}";

.page-header {
  background-color: #FF00FF !important; /* Magenta/Neon */
  background-image: linear-gradient(120deg, #FF00FF, #FF69B4) !important;
}

.btn {
  color: #FF1493 !important;
  border-color: #FF1493 !important;
}

.main-content h1, .main-content h2, .main-content h3 {
  color: #FF1493 !important;
}
